DEBUG="<debug_mode>"

MONGO_INITDB_ROOT_USERNAME="<username>"
MONGO_INITDB_ROOT_PASSWORD="<user_password>"
MONGO_INITDB_DATABASE="<database_name>"

MONGO_URI="mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@<host>:<port>/"
MONGO_DB="${MONGO_INITDB_DATABASE}"
MONGO_QUOTES_COLLECTION="<collection_name>"

REDIS_URI="<redis_uri>"